<div class="home">
  <h1>
   Info
 </h1>
  <div class="home-text">
    Hello, my name is {{name }} and this is my application which consumes an API based using a model containing trivial information about myself. This mini-project serves as an exercise in building a REST api that can be consummed by the client. Angular.js and Node.js are used to consume and serve data across various end-points.
  </div>
  <br>
  <div class="info">
    Name: {{name}}
    <br> Location {{location}}
  </div>
</div>