/*---GLOBAL---STYLES---*/

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #456990;
  color: white;
  font-family: 'Roboto';
  margin: 0 auto;
  width: 80%;
}

h1 {}


/*---HEADER---STYLES---*/

header {
  background-color: #456990;
  padding: 20px;
  margin: 0 auto;
  text-align: center;
}

header h1 {
  margin-bottom: 0;
  font-size: 2em;
}

button.nav-button {
  background-color: #F45B69;
  border: none;
  padding: 10px;
  border-radius: 5px;
  margin: 7px;
  border: 1px solid white;
}


/*---HOME---STYLES---*/

div.home {
  font-size: 1.25em;
}

div.home h1 {
  margin-top: 0;
}


/*---HOBBIES---STYLES---*/

div.hobbies {
  font-size: 1.25em;
  border: 1px solid #F45B69;
}

div.parent {
  float: left;
  width: 50%;
}

div.section-parent {
  border: 1px solid #F45B69;
}

form.general-form {
  width: 50%;
  float: left;
  border: 1px solid #F45B69;
}

form.general-form input {
  display: block;
  border: 1px solid #F45B69;
  padding: 5px;
  margin: 5px 5px 5px 0;
  border-radius: 5px;
  color: black;
  width: 65%;
}

div.first-form {
  margin-bottom: 20px;
}

form.general-form button {
  background-color: #F45B69;
  font-size: 16px;
  padding: 10px;
  color: white;
  border-radius: 5px;
  border: 1px solid white;
}

div.hobbies h1 {
  margin-top: 0;
}

div.occupations h1 {
  margin-top: 0;
}


/*---SKILLS---STYLES---*/

div.skills {
  font-size: 1.25em;
  border: 1px solid white;
}

div.skills h1 {
  margin-top: 0;
}